html {
  background: url("recipe-images/vineyard-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: lightgoldenrodyellow;
}

a {
  text-decoration: none;
  color: black;
}

header {
  line-height: 0%;
  padding: 0.01%;
  margin: 20px;
  background-image: url("recipe-images/ItalianFlag.jpeg");
  background-size: 100%;
  color: darkslategray;
  /*add dark slate grey to header text*/
}

body {
  text-align: center;
}

h1 {
  font-size: 100px;
}

h3 {
  font-weight: 900;
}

#title {
  font-family: Brush Script MT, 'Times New Roman', Times, serif; 
}

img {
  opacity: 0.5;
}

.link-text {
  padding-left: 100px;
  padding-right: 100px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgba(255, 255, 255, 0.715);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  position: relative;
  text-align: center;
  color: white;
  padding: 20px;
}