header {
  line-height: 0px;
}

body {
  background-color: silver;
  text-align: center;
}

h1 {
  font-size: 100px;
}

div {
 background-color: grey;
 margin: 50px;
}

.title {
  font-family: Brush Script MT, 'Times New Roman', Times, serif;
}